###############################################################################
# Build Artifacts
###############################################################################
artifacts/
bin/
obj/

###############################################################################
# Visual Studio
###############################################################################
.vs/
.vscode/
.dotnet/
.tools/
.packages/

###############################################################################
# MSBuild Logs
**/MSBuild_Logs/MSBuild_pid-*.failure.txt

###############################################################################
# Image files and documents
*.png   
*.gif   
*.doc   
*.docx  
*.dot   
*.pdf   
*.rtf  
*.txt
